---
title: Contact
layout: default
bodyClass: page-contact
---

<div class="container">
  <div class="justify-content-start">
    <div class="col-12">
      <h1>{{page.title}}</h1>
      <p><h3>Points of Contact</h3></p>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <p><h4>SDBK Engineering and Finishing Services (OPC) Pvt Ltd</h4>
          2/4, 1st A Main, M.M. Road, Byatarayanpura <br>
          New Extension Mysore Road, Bengalore - 560026 <br>
          Phone: +91 80 26751389<br> Mobile: +91 98866 35821<br>
          Email: <a href="mailto:saravana1sdbk@gmail.com">saravana1sdbk@gmail.com</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div><p>Contact Us</p></div>
      
        <form action="https://formspree.io/f/xrgongqp" method="POST" method="POST">
          
          <div class="form-group">
            <div><label class="control-label" for="fname">First Name:</label></div>
            <input type="text" class="form-control col-sm-12 col-lg-6 col-md-6" id="fname" name="fname" placeholder="Enter First Name" name="fname">
            <p></p>
          </div>
          <div class="form-group">
            <div><label class="control-label" for="lname">Last Name:</label></div>
            <input type="text" class="form-control col-sm-12 col-lg-6 col-md-6" id="lname" name="lname" placeholder="Enter Last Name" name="lname">
            <p></p>
          </div>
          <div class="form-group">
            <div><label class="control-label" for="email">Email:</label></div>
            <input type="email" class="form-control col-sm-12 col-lg-6 col-md-6" id="email" name="email" placeholder="Enter email" name="email">
            <p></p>
          </div>
          <div class="form-group">
            <div><label class="control-label" for="phone">Phone:</label></div>
            <input type="number" class="form-control col-sm-12 col-lg-6 col-md-6" id="phone" name="phone" placeholder="Phone" name="phone">
            <p></p>
          </div>
          <div class="form-group">
            <div><label class="control-label" for="comment">Comment:</label></div>
            
            <textarea class="form-control col-sm-12 col-lg-6 col-md-6" rows="5" id="comment" name="comment"></textarea>
            <p></p>
          </div>
          <div class="form-group">        
            <button type="submit" class="btn btn-default" value="send">Submit</button>
          </div>
          </div>
        </form>
        <p></p>

      </div>

    </div>

    
  </div>
</div>
